<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>contacto</title>
</head>
<body>

     <!-- HEADER -->
  <header class="barra-superior">
    <nav>
      <ul class="nav-links">
        <li><a href="index.html">Inicio</a></li>
<li><a href="sobre-mi.html">Sobre mí</a></li>
<li><a href="proyectos.html">Proyectos</a></li>
<li><a href="contacto.html">Contacto</a></li>

      </ul>
    </nav>
  </header>
    
</body>
</html>