<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>proyectos</title>
</head>
<body>

     <!-- HEADER -->
  <header class="barra-superior">
    <nav>
      <ul class="nav-links">
        <li><a href="index.html">Inicio</a></li>
<li><a href="sobre-mi.html">Sobre mí</a></li>
<li><a href="proyectos.html">Proyectos</a></li>
<li><a href="contacto.html">Contacto</a></li>

      </ul>
    </nav>
  </header>

     <!-- PROYECTOS -->
  <section id="proyectos" class="sec-proyectos">
    <div class="cont-proyectos">
      <h2 class="h2-misProyectos">Mis Proyectos</h2>
      <div class="grid-proyectos">
  <a href="proyecto1.html" class="proyecto" target="_blank">
    <h3>Proyecto 1</h3>
    <p>Landing page para un negocio local con HTML y CSS.</p>
  </a>

  <a href="https://leidy08paola.github.io/creador_de_tareas/" class="proyecto" target="_blank">
    <h3>Proyecto 2</h3>
    <p>Aplicación To-Do List con React y LocalStorage.</p>
  </a>

  <a href="proyecto3.html" class="proyecto" target="_blank">
    <h3>Proyecto 3</h3>
    <p>Sitio web de bisutería con WordPress y WooCommerce.</p>
  </a>

  <a href="proyecto4.html" class="proyecto" target="_blank">
    <h3>Proyecto 4</h3>
    <p>Software de gestión de citas con enfoque en UX/UI.</p>
  </a>
</div>

  </section>

</body>
</html>